#logo {
  margin-top: 8px;
}

.navbar {
  margin-top: 12px;
}

.navbar-form {
  border: none;

  input {
    margin-left: 5px;
  }
  span {
    position: absolute;
  }
}

#tweets {
  position: absolute;
  top: 48px;
  left: 63%;
}

.slick-dots {
  position: absolute;
  bottom: 20px;
}

#jumbotron {
  position: relative;
  top: -60px;
}

#intro {
  margin-top: -92px;

  .col-lg-12 {
    padding: 0;
  }

  h1 {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 20px;
  }

  h3 {
    margin-top: 70px;
    margin-bottom: 20px;

    span {
      margin-left: 10px;
    }
  }
}

#featured-work {
  margin-top: 20px;
}

#detail-1 {
  position: absolute;
  top: 13%;
  left: 30%;
  width: 35% !important;
}

#detail-2 {
  position: absolute;
  top: 34.5%;
  left: 23%;
  bottom: 1px;
  width: 23% !important;
}

#detail-3 {
  position: absolute;
  top: 13%;
  left: 74%;
  width: 21% !important;
}

#always-be-ready {
  width: 70% !important;
  position: absolute;
  top: 25%;
  left: 15%;
}

#wire {
  margin-bottom: 100px;
}
