#logo {
  margin-top: 8px;
}

.navbar {
  margin-top: 12px;
}

.navbar-form {
  border: none;

  input {
    margin-left: 5px;
  }
  span {
    position: absolute;
  }
}

.slick-dots {
  position: absolute;
  bottom: 20px;
}

#jumbotron {
  position: relative;
  top: -60px;
}

#intro {
  margin-top: -92px;

  h1 {
    padding: 50px;
    margin-top: 20px;
  }
}
