@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "_colors";
@import "_variables";
@import "_layout";
@import "_utilities";
@import "_base";

.navigation {
  width: 100%;
  height: 60px;
  background-color: $transparent-black;
}

.nav.navbar-nav li a {
  color: $white;
}

.navbar {
  background-color: transparent;
  @extend .no-border;
}

.navbar-form {
  span {
    padding: 2.5px;
    padding-left: 12px;
    background-color: $dark-grey;
    color: $light-teal;
  }
  input {
    box-shadow: none !important;
    text-align: center;
    color: $light-teal;
    background-color: $dark-grey;
    @extend .no-border;
  }
  input::placeholder {
    color: $light-teal;
  }
  button {
    font-size: $button-font;
    color: $white;
    font-weight: bold;
    background-color: $red-orange;
    @extend .no-border;
  }
}

.nav.navbar-nav li {
  a:hover {
    color: $grey;
  }

  a.active {
    color: $red-orange;
  }
}

#jumbotron {
  z-index: -1;
}

.slick-dots {
  li {
    width: 10px;
    height: 10px;
    border: 1px $white solid;
    background-color: $white;
    @extend .circular;
  }

  li:hover {
    border: 3px pink solid;
  }

  li button {
    display: none;
  }

  li.slick-active {
    border: 1px $red-orange solid;
    background-color: $red-orange;
    @extend .circular;
    z-index: 1;
  }
}

#intro {
  width: 100vw;
  background-color: $light-black;

  h1 {
    color: $white;
    font-weight: bold;

    span {
      color: $red-orange;
    }
  }

  .col-lg-12 {
    border-bottom: 5px $darker-grey solid;
  }

  h3 {
    color: $grey;

    a {
      font-size: 14px;
      color: $red-orange;
    }
  }

  .row {
    border-bottom: 2px $darker-grey solid;
  }
}

.thumbnail {
  padding: 0;
  background-color: transparent;
  @extend .no-border;
}

#featured-work {
  .caption {
    @extend .caption-style;
  }

  img {
    width: 100%;
  }

  a {
    @extend .link-style;
  }

  span {
    color: $light-teal;
  }
}

#wire {
  .caption {
    @extend .caption-style;
  }

  a {
    @extend .link-style;
  }

  h2:hover {
    color: $light-teal;
    cursor: pointer;
  }
}
